<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
  
  <bean id="add" class="com.spring.Address">
  <property name="city"><value>Icharpur</value></property>
  <property name="state"><value>Odisa</value></property>
  <property name="pin"><value>532322</value></property>
  </bean>
  
  <bean id="emp" class="com.spring.Employee">
  <property name="empId"><value>2503652</value></property>
  <property name="empName"><value>Naveen</value></property>
  <property name="address" ref="add"></property>
  </bean>
  
  
  
  
  </beans>